html {
  scroll-behavior: smooth;
}

.nav {
  background-color: var(--primario-light-active);
  color: var(--neutral-darkest);
  padding: 0 20%;
}

.contenido-nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.icono-menu-lateral-nav {
  width: 50px;
  height: 60px;
  cursor: pointer;
}

.lista-opciones-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--inter-bold);
  font-size: 20px;
}

.lista-opciones-nav li {
  cursor: pointer;
  transition: .2s;
}

.lista-opciones-nav li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.lista-opciones-nav li:hover {
  color: var(--acento);
}

.barra-divisoria-nav {
  width: 1px;
  height: 15px;
  background-color: var(--neutral-darkest);
}

/* ----------------------------------------------------------------------------------------------------------- */

@media (max-width: 1820px) {
  .icono-menu-lateral-nav {
    width: 40px;
    height: 50px;
  }
  
  .lista-opciones-nav {
    font-size: 15px;
  }
}

@media (max-width: 1500px) {
  .icono-menu-lateral-nav {
    width: 30px;
    height: 40px;
  }

  .lista-opciones-nav {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  .nav {
    display: none;
  }
}