.search-bar {
  background-color: var(--primario-active);
  padding: 60px 20%;
}

.search-bar-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-inline: auto;
  background-color: var(--neutral-light-hover);
  height: 90px;
  border-radius: 5px;
  padding-inline: 25px;
  column-gap: 10px;
}

.search-bar-form * {
  margin-inline: auto;
}

.search-bar-input, .search-bar-input1-wrapper {
  background-color: var(--primario-active);
  color: var(--neutral-light);
  border-radius: 5px;
  font-size: 15px;
}

.search-bar-input1-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  background-color: var(--primario-active);
  padding-inline: 20px;
}

.search-bar-input1 {
  border: none;
  padding-inline: 5px;
  width: 100%;
  height: 80%;
  outline: none;
  border-bottom: 1px solid var(--neutral-light);
  border-radius: 0;
  padding-block: 0;
  cursor: text;
}

.search-bar-input1::placeholder {
  color: var(--neutral-light);
}

.search-bar-input2, .search-bar-input3 {
  border: none;
  padding-inline: 10px;
  width: 250px;
  height: 40px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar-input2:hover, .search-bar-input3:hover {
  background-color: var(--primario-hover);
}

.search-bar-btn {
  width: 100px;
  height: 40px;
  background-color: var(--acento);
  color: var(--neutral-light);
  border: 2px solid var(--neutral-darkest);
  border-radius: 8px;
  font-family: var(--anybody-extrabold);
  font-size: 20px;
  cursor: pointer;
  transition: .2s;
}

.search-bar-btn:hover {
  background-color: var(--acento);
  color: var(--neutral-light-hover);
}

/* ----------------------------------------------------------------------------------------------------------- */

@media (max-width: 1560px) {
  .slider {
    order: -1;
  }

  .search-bar {
    order: -3;
  }

  .divider {
    order: -2;
  }

  .search-bar-form {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    height: auto;
    padding: 10px 20px;
    row-gap: 10px;
  }

  .search-bar-input {
    width: 100%;
  }

  .search-bar-input1-wrapper {
    width: 100%;
  }

  .search-bar-btn {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .search-bar {
    padding: 60px 10%;
  }
}

@media (max-width: 600px) {
  .search-bar {
    padding: 60px 5%;
  }
}

@media (max-width: 470px) {
  .search-bar-input1::placeholder {
    font-size: 12px;
  }

  .search-bar-input2, .search-bar-input3 {
    font-size: 12px;
  }

  .search-bar-btn {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .search-bar-input1::placeholder {
    font-size: 10px;
  }

  .search-bar-input2, .search-bar-input3 {
    font-size: 10px;
  }
}