.choose-trip {
  background-color: var(--primario-active);
  color: var(--neutral-light);
  padding: 60px 20%;
}

.choose-trip-contents h2 {
  font-family: var(--asap-regular);
  font-size: 22px;
}

.choose-trip-contents hr {
  margin-top: 5px;
  border: 1px solid var(--neutral-light);
  border-radius: 5px;
}

.trips {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.trip {
  height: 270px;
  flex: 1;
  position: relative;
}

.trip::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
}

#trip1, #trip2, #trip3, #trip4 {
  background-size: cover;
}

#trip1 {
  background-image: url(/img/trips/imagen1.webp);
}

#trip2 {
  background-image: url(/img/trips/imagen2.webp);
}

#trip3 {
  background-image: url(/img/trips/imagen3.webp);
}

#trip4 {
  background-image: url(/img/trips/imagen4.webp);
}

.no-filter-trip-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 5rem;
  padding: 1.5rem;
  height: 100%;
}

.no-filter-trip-text h3 {
  font-family: var(--inter-bold);
  font-size: 30px;
}

.trip-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid var(--neutral-light);
  padding: 10px 25px;
  cursor: pointer;
  transition: .2s;
}

.trip-btn:hover {
  background-color: var(--neutral-dark-hover);
}

.trip-btn * {
  display: inline;
  cursor: pointer;
}

.trip-btn h4 {
  font-family: var(--asap-medium);
  font-size: 25px;
}

.trip-btn img {
  width: 20px;
  height: 20px;
}

/* ----------------------------------------------------------------------------------------------------------- */

@media (max-width: 1780px) {
  .trip-btn {
    padding: 10px 10px;
  }
}

@media (max-width: 1620px) {
  .no-filter-trip-text h3 {
    font-size: 25px;
  }
}

@media (max-width: 1460px) {
  .trips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .no-filter-trip-text h3 {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .choose-trip {
    padding: 40px 10%;
  }
}

@media (max-width: 890px) {
  .trip {
    height: 150px;
  }

  .no-filter-trip-text {
    justify-content: space-between;
    gap: 1rem;
  }

  .no-filter-trip-text h3 {
    font-size: 18px;
  }

  .trip-btn h4 {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .choose-trip {
    padding: 40px 5%;
  }
}

@media (max-width: 570px) {
  .trips {
    grid-template-columns: repeat(1, 1fr);
  }

  .no-filter-trip-text h3 {
    font-size: 25px;
  }

  .trip-btn {
    padding: 10px 25px;
  }

  .trip-btn h4 {
    font-size: 20px;
  }
}