.guides-section {
  background-color: var(--primario-active);
  padding: 60px 20%;
}

.guides-section-contents h2 {
  color: var(--neutral-light);
  font-family: var(--asap-regular);
  font-size: 22px;
}

.guides-section-contents hr {
  margin-top: 5px;
  border: 1px solid var(--neutral-light);
  border-radius: 5px;
}

.guides {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.guide {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--neutral-light);
  padding: 10px;
  padding-bottom: 25px;
  color: var(--neutral-light);
  transition: .2s;
  cursor: pointer;
  position: relative;
}

.guide-overlay {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.603);
  color: var(--neutral-light);
  transition: .2s;
}

.guide-btn {
  cursor: pointer;
  border: 1px solid var(--neutral-light);
  padding: 10px 20px;
  transition: .15s;
}

.guide-btn:hover {
  background-color: var(--acento);
  color: var(--neutral-light-hover);
}

.guide-btn * {
  cursor: pointer;
}

.guide-btn h4 {
  color: var(--neutral-light);
  font-family: var(--asap-regular);
  font-size: 22px;
}

.hidden {
  display: none;
}

.guide img {
  width: 100% !important;
}

.guide-text h2 {
  font-family: var(--asap-regular);
  font-size: 22px;
}

.guide-text p {
  font-family: var(--kameron-regular);
  font-size: 14px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1960px) {
  .guide {
    width: fit-content;
  }

  .guide-overlay {
    margin: 0;
  }

  .guide img {
    width: 200px;
  }

  .guide-text {
    width: 90%;
  }
}

@media (max-width: 1040px) {
  .guide-text h2 {
    font-size: 18px;
  }

  .guide-text p {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .guides-section {
    padding: 60px 10%;
  }

  .guide-text h2 {
    font-size: 22px;
  }

  .guide-text p {
    font-size: 14px;
  }
}

@media (max-width: 890px) {
  .guides {
    flex-direction: column;
    align-items: center;
  }

  .guide {
    width: 100%;
  }

  .guide-text h2 {
    font-size: 26px;
  }

  .guide-text p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .guides-section {
    padding: 60px 5%;
  }

  .guide-text h2 {
    font-size: 20px;
  }

  .guide-text p {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .guide-text h2 {
    font-size: 18px;
  }

  .guide-text p {
    font-size: 12px;
  }
}