.header {
  background-color: var(--primario);
  padding: 10px 20%;
}

.contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icono-menu-lateral {
  width: 50px;
  height: 60px;
  cursor: pointer;
}

.logo {
  width: 334px;
  height: 89px;
  cursor: pointer;
  transition: .2s;
}

.logo:hover {
  transform: scale(1.04);
}

.opciones-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.opciones-header a {
  color: var(--neutral-light);
  font-size: 15px;
  font-family: var(--asap-regular);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: .15s;
}

.opciones-header a:hover {
  color: var(--acento);
}

.opciones-header a * {
  cursor: pointer;
}

.contacto a {
  font-size: 20px;
}

.contacto a img {
  width: 20px;
  height: 20px;
}

.icono-header {
  width: 15px;
  height: 15px;
}

.barra-divisoria-header {
  width: 1px;
  height: 15px;
  background-color: var(--neutral-light);
}

/* ----------------------------------------------------------------------------------------------------------- */

@media (max-width: 1725px) {
  .opciones-header{
    gap: 15px;
  }

  .opciones-header a {
    font-size: 10px;
    gap: 3px;
    letter-spacing: 1px;
  }

  .contacto a {
    font-size: 14px;
  }
}

@media (max-width: 1430px) {
  .opciones-header a img {
    display: none;
  }
}

@media (max-width: 1300px) {
  .icono-menu-lateral-header {
    display: block !important;
  }

  .opcion-header, .barra-divisoria-header {
    display: none;
  }

  .contacto {
    display: block;
  }

  .opcion-header img {
    display: block !important;
    width: 50px !important;
    height: 50px !important;
  }

  .opcion-header p {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 10px 10%;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 5%;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 250px;
    height: 70px;
  }
}

@media (max-width: 400px) {

  .logo {
    width: 200px;
    height: 60px;
  }
}

@media (max-width: 370px) {
  .logo {
    width: 180px;
    height: 50px;
  }
}