/*
  átomos del proyecto
  - paleta de colores
  - primario
    - #E8EDF2
    - #DCE4EC
    - #B6C7D8
    - #154980
    - #134273
    - #113A66
    - #103760
    - #0D2C4D
    - #09213A
    - #071A2D
  - neutral
    - #F1F1F1
    - #EBEBEB
    - #D5D5D5
    - #777
    - #6B6B6B
    - #5F5F5F
    - #595959
    - #474747
    - #363636
    - #2A2A2A
  - acento
    - #F0A31F

  ------------------------------------------------------------------------------------------------

  - fuentes de letra
    - alata
      - regular
    - anybody
      - extrabold
      - regular
    - asap
      - bold
      - bolditalic
      - medium
      - regular
      - semibold
    - carrois gothic sc
      - regular
    - inter
      - black
      - bold
      - medium
    - kameron
      - regular

  ------------------------------------------------------------------------------------------------

  - escalas utilizadas para espaciados, tamaños de fuente y otros tamaños
    - escala de 2
      2 / 4 / 6 / 8 / 10 / 12 / 14 / 16 / 18 / 20 / 22 / 24 / 26 / 28 / 30 / 32...
    - escala de 5
      5 / 10 / 15 / 20 / 25 / 30 / 35 / 40 / 45 / 50 / 55 / 60 / 65 / 70 / 75...
*/

@font-face {
  font-family: 'alata regular';
  src: url('/fonts/alata/regular.ttf');
}

@font-face {
  font-family: 'anybody extrabold';
  src: url('/fonts/anybody/extrabold.ttf');
}

@font-face {
  font-family: 'anybody regular';
  src: url('/fonts/anybody/regular.ttf');
}

@font-face {
  font-family: 'asap bold';
  src: url('/fonts/asap/bold.ttf');
}

@font-face {
  font-family: 'asap bolditalic';
  src: url('/fonts/asap/bolditalic.ttf');
}

@font-face {
  font-family: 'asap medium';
  src: url('/fonts/asap/medium.ttf');
}

@font-face {
  font-family: 'asap regular';
  src: url('/fonts/asap/regular.ttf');
}

@font-face {
  font-family: 'asap semibold';
  src: url('/fonts/asap/semibold.ttf');
}

@font-face {
  font-family: 'carrois gothic sc regular';
  src: url('/fonts/carrois-gothic-sc/regular.ttf');
}

@font-face {
  font-family: 'inter black';
  src: url('/fonts/inter/black.ttf');
}

@font-face {
  font-family: 'inter bold';
  src: url('/fonts/inter/bold.ttf');
}

@font-face {
  font-family: 'inter medium';
  src: url('/fonts/inter/medium.ttf');
}

@font-face {
  font-family: 'kameron regular';
  src: url('/fonts/kameron/regular.ttf');
}

:root {
  /* paleta de colores */
  --primario-light: #E8EDF2;
  --primario-light-hover: #DCE4EC;
  --primario-light-active: #B6C7D8;
  --primario: #154980;
  --primario-hover: #134273;
  --primario-active: #113A66;
  --primario-dark: #103760;
  --primario-dark-hover: #0D2C4D;
  --primario-dark-active: #09213A;
  --primario-darkest: #071A2D;

  --neutral-light: #F1F1F1;
  --neutral-light-hover: #EBEBEB;
  --neutral-light-active: #D5D5D5;
  --neutral: #777;
  --neutral-hover: #6B6B6B;
  --neutral-active: #5F5F5F;
  --neutral-dark: #595959;
  --neutral-dark-hover: #474747;
  --neutral-dark-active: #363636;
  --neutral-darkest: #2A2A2A;

  --acento: #F0A31F;

  /* ----------------------------------------------------------- */

  /* fuentes de letra */
  --alata-regular: 'alata regular', sans-serif;

  --anybody-extrabold: 'anybody extrabold', sans-serif;
  --anybody-regular: 'anybody regular', sans-serif;

  --asap-bold: 'asap bold', sans-serif;
  --asap-bolditalic: 'asap bolditalic', sans-serif;
  --asap-medium: 'asap medium', sans-serif;
  --asap-regular: 'asap regular', sans-serif;
  --asap-semibold: 'asap semibold', sans-serif;

  --carroisgothicsc-regular: 'carrois gothic sc regular', sans-serif;

  --inter-black: 'inter black', sans-serif;
  --inter-bold: 'inter bold', sans-serif;
  --inter-medium: 'inter medium', sans-serif;

  --kameron-regular: 'kameron regular', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

::selection {
  color: var(--primario);
  background-color: var(--neutral-light);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primario-light);
}

::-webkit-scrollbar-thumb {
  background: var(--primario);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primario-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--primario-active);
}